{% extends "base_sidebar.html" %}
{% block sidebar %}
{% for m in maps %}
<iframe width="100%" height="250" frameborder="0" scrolling="no" src="{{ m.embed }}"></iframe>
<hr>
{% endfor %}
<li class="nav-header">Date</li>
<li>{{ c.date }}</li>

{% if c.time %}
<li class="nav-header">Time</li>
<li>{{ c.time }}</li>
{% endif %}

{% if c.kind %}
<li class="nav-header">Kind</li>
<li>{{ c.kind }}</li>
{% endif %}

{% if c.location %}
<li class="nav-header">Locations</li>
<li>{{ c.location|safe }}</li> <!--Don't use 'safe' for people or organizations. Only locations for Crises are stored as list items.-->
{% endif %}

<li class="nav-header">Related People</li>
{% for p in related_people %}
<li><a href="{% url crisix.views.people p.id %}">{{ p.name }}</a></li>
{% endfor %}

<li class="nav-header">Related Organizations</li>
{% for o in related_orgs %}
<li><a href="{% url crisix.views.organizations o.id %}">{{ o.name }}</a></li>
{% endfor %}
{% endblock %}
{% block body %}
<div style="padding-bottom:20px;">
    <style type="text/css">
        img
        {
            max-height:125px;
        }
    </style>
    <div class="row-fluid">
        <h1 class="main-focus;">{{ name }}</h1><hr>
        <div class="textblock">
            <div class="bubble">
                <div class="row-fluid">
                    <div style="width:220px;float:left;">
                        <div class="video-content">
                            {% for w in videos %}
                                <iframe class="youtube-player" type="text/html"
                                    height="125" width="221" src="{{ w.embed }}"
                                    frameborder="0" allowFullScreen>
                                </iframe>
                            {% endfor %}                
                        </div><!--end video-content-->
                    </div> <!--end span4-->
                    <div style="width:390px;float:right;">
                        <div class="photo-content">
                            {% for w in images %}
                            <a href="{{ w.embed }}"><img src="/media/thumbs/{{ w.thumb }}"></a>
                            {% endfor %}
                        </div>
                    </div>
                 <div style="width:390px;float:right;">
                        <div style="padding-top:0px;padding-left:5px;">
                            <a href="{% url crisix.views.display_more "crises" c.id "photos" %}">See all photos &raquo;</a>
                        </div>
                    </div>
                <div style="width:35%;float:left;">
                    <div style="padding-top:0px;">
                        <a href="http://google.com">See all videos &raquo;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% for s in summary %}
    <p>{{ s|safe }}</p>
{% endfor %}
<h3>Human Impact</h3><hr>
<ul style="list-style-type:square;">
    {{ c.himpact|safe }}
</ul>
<h3>Economic Impact</h3><hr>
    {% for i in eimpact %}
        <p>{{ i|safe }}</p>
    {% endfor %}
<ul style="margin-left:0px;list-style:none;">
    <h3>Resources Needed</h3><hr>
        {% for r in resources %}
            <p>{{ r|safe }}</p>
        {% endfor %}
</ul>
<h3>Ways to Help</h3><hr>
<ul style="list-style-type:square;">
    {% for h in help %}
        {% if h.href %}
            <li><a href="{{ h.href }}">{{ h.text }}</a></li>
        {% else %}
            <li>{{ h.text }}</li>
        {% endif %}
    {% endfor %}
</ul>
<h3>References</h3><hr>
<ol style="word-wrap:break-word;">
    {% for w in citations %}
        <li><a href="{{ w.href }}">{{ w.href }}</a> {{ w.text }}</li>
    {% endfor %}
</ol>
<h3>External Links</h3><hr>
<ul style="list-style-type:square;word-wrap:break-word;">
    {% for w in external %}
        <li><a href="{{ w.href }}">{{ w.text }}</a></li>
    {% endfor %}
</ul>
</div>
</div>
<!--/span9-->
{% endblock %}
