{% extends "hero.html" %}
{% block sidebar %}
{% for m in maps %}
<iframe width="100%" height="290" frameborder="0" scrolling="no" style="margin-top:5px;" src="{{ m.embed }}"></iframe>
<hr>
{% endfor %}
<li class="nav-header">Date</li>
<li>{{ c.date }}</li>

{% if c.time %}
<li class="nav-header">Time</li>
<li>{{ c.time }}</li>
{% endif %}

{% if c.kind %}
<li class="nav-header">Kind</li>
<li>{{ c.kind }}</li>
{% endif %}

{% if c.location %}
<li class="nav-header">Locations</li>
<li>{{ c.location|safe }}</li> <!--Don't use 'safe' for people or organizations. Only locations for Crises are stored as list items.-->
{% endif %}

<li class="nav-header">Related People</li>
{% for p in related_people %}
<li><a href="{% url crisix.views.people p.id %}">{{ p.name }}</a></li>
{% endfor %}

<li class="nav-header">Related Organizations</li>
{% for o in related_orgs %}
<li><a href="{% url crisix.views.organizations o.id %}">{{ o.name }}</a></li>
{% endfor %}
{% endblock %}

{% block body %}
    <div class="row-fluid">
        <h1 class="main-focus;">{{ c.name }}</h1><hr>
        <div class="row-fluid">
        {% for s in summary %}
        <p>{{ s }}</p>
        {% endfor %}
        </div>
    </div>
    <style type="text/css">
        img
        {
            max-height:125px;
        }
    </style>
    <div class="row-fluid">
        <div style="width:40%;float:left;">
            <h3>Videos</h3>
            <div class="video-content">
                {% for w in videos %}
                    <iframe class="youtube-player" type="text/html"
                        height="125" width="221" src="{{ w.embed }}"
                        frameborder="0" allowFullScreen>
                    </iframe>
                {% endfor %}                
            </div><!--end video-content-->
        </div> <!--end span4-->
        <div style="width:60%;float:right;">
            <div id="photo-header" style="padding-top:0px;padding-left:5px;">
                <h3>Photos</h3>
            </div>
            <div class="photo-content">
                {% for w in images %}
                <a href="{{ w.embed }}"><img src="/media/thumbs/{{ w.thumb }}"></a>
                {% endfor %}
            </div>
        </div>
    </div><p>
    <div style="text-align:left;">
        <a href="http://google.com">{{ videos|length }} video{% if videos|length > 1 %}s{% endif %}</a> | 
        <a href="http://google.com">{{ images|length }} photo{% if images|length > 1 %}s{% endif %}</a> >>
    </div></p>
    <hr>
    <h3>Human Impact</h3>
        <p>{{ c.himpact|safe }}</p>
    <hr>
    <ul style="margin-left:0px; list-style: none;">
        <h3>Economic Impact</h3>
        {% for i in eimpact %}
        <p>{{ i }}</p>
        {% endfor %}
    </ul>
    <hr>
    <ul style="margin-left:0px; list-style: none;">
        <h3>Resources Needed</h3>
        {% for r in resources %}
        <p>{{ r }}</p>
        {% endfor %}
    </ul>
    <hr>
    <ul style="margin-left:0px; list-style: none;">
        <h3>Ways to Help</h3>
        {% for h in help %}
        {% if h.href %}
            <p><a href="{{ h.href }}">{{ h.text }}</a></p>
        {% else %}
            <p>{{ h.text }}</p>
        {% endif %}
        {% endfor %}
    </ul>
    <hr>
    <h3>External Links</h3>
    <ol style="word-wrap:break-word;">
    {% for w in external %}
        <li><a href="{{ w.href }}">{{ w.href }}</a> {{ w.text }}</li>
    {% endfor %}
    </ol>
    <hr>
    <h3>Citations</h3>
    <ol style="word-wrap:break-word;">
    {% for w in citations %}
        <li><a href="{{ w.href }}">{{ w.href }}</a> {{ w.text }}</li>
    {% endfor %}
    </ol>
</div><!-- end row-fluid-->
<!--/span9-->
{% endblock %}
