{% extends "list_bubble.html" %}
<style>
</style>
{% block body %}
<div style="margin-left:0px; list-style: none; padding-top:20px;">
            {% for e in entity.object_list %}
            <div style="padding-bottom:20px;">
                <a href="{{ e.id }}/"><img src="/media/thumbs/{{ e.thumb }}"></a>
            <div class="bubble" style="margin-left:125px;">
            {% if e.type == "crises" %}
                <a href="{% url crisix.views.crises e.id %}">{{ e.name }}</a>
            {% else %}{% if e.type == "organizations" %}
                <a href="{% url crisix.views.organizations e.id %}">{{ e.name }}</a>
            {% else %}{% if e.type == "people" %}
                <a href="{% url crisix.views.people e.id %}">{{ e.name }}</a>
            {% endif %}{% endif %}{% endif %}<br>
            {{ e.kind }} | {{ e.location|title }}<br>
            <p><li>{{ e.summary }}</li></p>
                {% if e.datetime|length > 0 %}
                <span style="color:#c4c4c4;">{{ e.datetime }}</span>
                {% endif %}
                {% if e.contact|length > 0 %}
                <span><a style="color:#c4c4c4;" href="{{ e.contact }}">{{ e.contact }}</a></span>
                {% endif %}
            </div></div>
            {% endfor %}
        </div>
        <div class="pagination" style="float:right;color:#eee;">
            <span class="step-links">
            {% if entity.has_previous %}
                <a href="?page={{ entity.previous_page_number }}">previous</a>
            {% endif %}
            <span class="current">
                Page {{ entity.number }} of {{ entity.paginator.num_pages }}
            </span>
            {% if entity.has_next %}
                <a href="?page={{ entity.next_page_number }}">next</a>
            {% endif %}
            </span>
        </div>
{% endblock %}
