{% extends "base.html" %}
{% block sidebar %}
<li class="nav-header">Crises</li>
{% for c in crises %}
<li><a href="{% url crisix.views.crises c.id %}">{{ c.name }}</a></li>
{% endfor %}
<li class="nav-header">Organizations</li>
{% for o in organizations %}
<li><a href="{% url crisix.views.organizations o.id %}">{{ o.name }}</a></li>
{% endfor %}
<li class="nav-header">People</li>
{% for p in people %}
<li><a href="{% url crisix.views.people p.id %}">{{ p.name }}</a></li>
{% endfor %}
{% endblock %}
{% block body %}
        <div class="span9">
          <div class="hero-unit">
            <h1>World Crises</h1>
            <br><br>
            <p>This site provides information on various world crises. Many such crises have impacted the world, and in these pages, you will find helpful informaiton about these crises, including key people who had a critical role in those events. In addition, you will find information on organizations that intervened. </p>

            <p>This site, along with the information it contains, has been built by the group Crisix, whose members include (in no particular order) Enam Ayivi, Tom Torres, Dalton Schmidt, Ejenio Capetillo, Matt Thurner, and Jonathan Velasquez. </p>
          </div>
        </div><!--/span-->
{% endblock %}
