{% extends "base.html" %}
{% block body %}
		<style>
		#mycarousel{
			float: center;
		}
		.carousel-caption {
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
			padding: 10px;
			background: #333333;
			background: rgba(0, 0, 0, 0.75);
			}
        .hero-unit {
            width:100%;
        }
        img {
            padding-bottom:20px;
        }
		</style>
            <img src="{{ STATIC_URL }}/profile/crisix.png" style="float:right;">
            <h1 style="padding-bottom:10px;">World Crises</h1>
        <div style="padding-right:10px;padding-bottom:10px;">
            <p>This site provides information on various world crises. Many such crises have impacted the world, and in these pages, you will find helpful informaiton about these crises, including key people who had a critical roles in those events. In addition, you will find information on organizations that intervened.</p><p></p>
            <p><h4 style="padding-top:10px;">Members:</h4>
            <ol>
                <li>Tom Torres</li>
                <li>Jonathan Velasquez</li>
                <li>Ejenio Capetillo</li>
                <li>Dalton Schmidt</li>
                <li>Matt Thurner</li>
                <li>Enam Ayivi</li>
                </ol>
            </p>
            <!--<div class="profile">
            <script type="text/javascript">
             function slideshow() {
                if(!document.images)
                    return
                j = (i % s)
                document.images.image.src="{{ STATIC_URL}}/profile/image" + j + ".jpg"
                ++i
                }
            </script>
            <div style="width:400px;margin:0 auto;">
            <img alt name="image" src="{{ STATIC_URL}}/profile/image5.jpg" width="400">
            <script type="text/javascript">
            i = 0
            s = 5
            setInterval("slideshow()", 5000)
            </script>
            </div>
            </div>-->
        </div>
{% endblock %}
