<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>
            {% block title %}
            Crisix
            {% endblock %}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- Le styles -->
        <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="{{ STATIC_URL }}css/lightview/lightview.css" rel="stylesheet"/>
        <link href="{{ STATIC_URL }}css/jquery.fancybox.css" type="text/css" media="screen" />
        <style type="text/css">
            body {
            padding-top: 40px;
            background-color: #0e1c25;
            background-attachment:fixed;
            background-image:url('http://img580.imageshack.us/img580/4992/vhlj.jpg');
            }
            .sidebar-nav {
            padding: 9px 0;
            }
            @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }

        </style>
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="../assets/js/html5shiv.js"></script>
        <![endif]-->
        <!-- Fav and touch icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
        <link rel="shortcut icon" href="assets/ico/favicon.png">

    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="{% url crisix.views.index %}">Crisix</a>
                    <div class="nav">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Crises <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/crises/exxval/">Exxon Valdez Oil Spill</a></li>
                                <li><a href="/crises/sptmel/">September 11th</a></li>
                                <li><a href="/crises/haiear/">2010 Haiti Earthquake</a></li>
                                <li><a href="/crises/tohoqu/">2010 Tohoku Earthquake and Tsunami</a></li>
                                <li><a href="/crises/aidshi/">HIV/AIDS</a></li>
                                <li><a href="/crises/nrmacf/">Northern Mali Conflict</a></li>
                                <li><a href="/crises/tukpro/">2013 protests in Turkey</a></li>
                                <li><a href="/crises/shessg/">Sandy Hook Elementary School Shooting</a></li>
                                <li><a href="/crises/scherq/">2008 Sichuan Earthquake</a></li>
                                <li><a href="/crises/lyclwr/">Libyan Civil War</a></li>
                                <li class="divider"></li>
                                <li><a href="/crises/">See all crises &raquo;</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Organizations <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/organizations/undway/">United Way</a></li>
                                <li><a href="/organizations/snqkrf/">Sichuan Quake Relief</a></li>
                                <li><a href="/organizations/nltlcl/">National Transitional Council</a></li>
                                <li><a href="/organizations/afiuni/">African Union</a></li>
                                <li><a href="/organizations/twiter/">Twitter</a></li>
                                <li><a href="/organizations/cdcpre/">Centers for Disease Control and Prevention</a></li>
                                <li><a href="/organizations/usgeos/">United States Geological Survey</a></li>
                                <li><a href="/organizations/whorgn/">World Health Organization</a></li>
                                <li><a href="/organizations/unnscl/">United Nations Security Council</a></li>
                                <li><a href="/organizations/exxshi/">Exxon Shipping Company</a></li>
                                <li class="divider"></li>
                                <li><a href="/organizations/">See all organizations &raquo;</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">People <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/people/admlnz/">Adam Lanza</a></li>
                                <li><a href="/people/amtoto/">Amadou Toumani Touré</a></li>
                                <li><a href="/people/brobma/">Barack Obama</a></li>
                                <li><a href="/people/erdoga/">Recep Tayyip Erdogan</a></li>
                                <li><a href="/people/hujnto/">Hu Jintao</a></li>
                                <li><a href="/people/joshaz/">Joseph Hazelwood</a></li>
                                <li><a href="/people/magicj/">Magic Johnson</a></li>
                                <li><a href="/people/murgdi/">Muammar Gaddafi</a></li>
                                <li><a href="/people/naokan/">Naoto Kan</a></li>
                                <li><a href="/people/osamab/">Osama Bin Laden</a></li>
                                <li class="divider"></li>
                                <li><a href="/people/">See all people &raquo;</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span id="admin_cog" class="icon-cog icon-white"></span>
                            <b class="caret"></b>
                        </a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url database.views.upload %}">Import</a></li>
                                <li><a href="{% url database.views.download %}">Export</a></li>
                                <li><a href="{% url database.views.query %}">Queries</a></li>
                                <li><a href="{% url database.views.test %}">Unit Tests</a></li>
                            </ul>
                        </li>
                    </div>
                    <!--/.nav-collapse -->
                    <form class="navbar-search pull-right" name="search" action="/search/" method="get">
                        <input type="text" placeholder="Find crises, organizations, people and more..." class="span4 search-query" name="q" autocomplete="off">
                        <i class="icon-search"></i>
				    </form>
                </div>
            </div>
        </div>
        {% block container %}
        {% endblock %}
        <!-- End top navigation bar-->
        <!--/.fluid-container-->
        <!-- Le javascript
            ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.fancybox.pack.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
        <script src="{{ STATIC_URL }}js/spinners/spinners.min.js"></script>
        <script src="{{ STATIC_URL }}js/lightview/lightview.js"></script>
    </body>
</html>
