{% extends "base.html" %}
	{% block body %}
	<div class="span9">
	    <div class="row-fluid">

	{% if ctype == 'photos' %}
		{% for i in images %}
			    <a href="{{ i.embed }}"><img src="/media/thumbs/{{ i.thumb }}"></a>
		{% endfor %}
	{% endif %}

	{% if ctype == 'videos' %}
		{% for v in videos %}
			<div>
            <iframe class="youtube-player" type="text/html"
                height="385" width="640" src="{{ v.embed }}"
                frameborder="0" allowFullScreen></iframe>
            </div>	   
		{% endfor %}
	{% endif %}

		</div>
	</div>
	{% endblock %}