{% extends "base.html" %}
	{% block body %}
	    <div class="row-fluid">
	    
	    <div style="padding-top:40px;">
	    
	{% if ctype == 'photos' %}
	<h1 class="main-focus;">Photos of '{{ name }}'</h1><hr>
	<div style="padding-bottom:180px;">
		{% for i in images %}
			<div>
				<a href="{{ i.embed }}"><img src="/media/thumbs/{{ i.thumb }}"></a>
			</div>
		{% endfor %}
	</div>
	{% endif %}

	{% if ctype == 'videos' %}
	<h1 class="main-focus;">Videos of '{{ name }}'</h1><hr>
		{% for v in videos %}
		<div style="padding-left:125px;">
		<div style="padding-top:60px;">
            <iframe class="youtube-player" type="text/html"
                height="385" width="640" src="{{ v.embed }}"
                frameborder="0" allowFullScreen></iframe>
                </div>
                </div>
		{% endfor %}
	{% endif %}
	
	        <div style="padding-top:40px;">
        	</div>
	
	{% if etype == 'people' %}
	    	<li><a href="{% url crisix.views.people id %}">{{ name }} Homepage </a></li>
	{% endif %}
	    
	{% if etype == 'crises' %}
	    	<li><a href="{% url crisix.views.crises id %}">{{ name }} Homepage </a></li>
	{% endif %}
	    
	{% if etype == 'organizations' %}
	    	<li><a href="{% url crisix.views.organizations id %}">{{ name }} Homepage </a></li>
        {% endif %}
        
        	<div style="padding-bottom:30px;">
        	</div>

		</div>
	</div>
	{% endblock %}