{% extends "base_sidebar.html" %}
{% block sidebar %}
{% for m in maps %}
<iframe width="100%" height="250" frameborder="0" scrolling="no" src="{{ m.embed }}"></iframe>
<hr>
{% endfor %}
{% if o.kind %}
<li class="nav-header">Kind</li>
<li>{{ o.kind }}</li>
{% endif %}

{% if o.location %}
<li class="nav-header">Location</li>
<li>{{ o.location}}</li> <!--Don't use 'safe' for people or organizations. Only locations for Crises are stored as list items.-->
{% endif %}

{% if related_crises|length > 0 %}
<li class="nav-header">Related Crises</li>
{% for c in related_crises %}
<li><a href="{% url crisix.views.crises c.id %}">{{ c.name }}</a></li>
{% endfor %}
{% endif %}

{% if related_people|length > 0 %}
<li class="nav-header">Related People</li>
{% for p in related_people %}
<li><a href="{% url crisix.views.people p.id %}">{{ p.name }}</a></li>
{% endfor %}
{% endif %}
{% endblock %}

{% block feed %}
{% for f in feeds %}
<a class="twitter-timeline" href="https://twitter.com/{{ f.id }}" data-widget-id="359055502723915776" data-screen-name="{{ f.id }}" data-show-replies="false">Tweets by @{{ f.id }}</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
{% endfor %}
{% endblock %}

{% block title %}
    {{ name }} | Crisix
{% endblock %}

{% block body %}
<div style="padding-bottom:20px;">
    <style type="text/css">
        img
        {
            max-height:125px;
            padding-bottom:5px;
        }
        .bubble {
            padding-right:0px;
        }
    </style>
    <div class="row-fluid">
        <h1 class="main-focus;">{{ o.name }}</h1>
        {% if videos|length or images|length %}
        <hr>
        <div class="textblock">
            <div class="bubble">
                <span class="row-fluid" style="margin: 0 auto;">
                    {% if videos|length %}
                    <div style="float:left;padding-right:10px;padding-left:1px;">
                        <div class="video-content">
                            {% for w in videos %}
                                <iframe class="youtube-player" type="text/html"
                                    height="125" width="221" src="{{ w.embed }}"
                                    frameborder="0" allowFullScreen>
                                </iframe>
                            {% endfor %}                
                        </div><!--end video-content-->
                        {% if additional.videos %}
                        <a href="videos/">See all videos &raquo;</a>
                        {% endif %}
                    </div> <!--end span4-->
                    {% endif %}
                    {% if images|length %}
                    <div style="padding-left:0px;">
                        <div class="photo-content">
                            {% for w in images %}
                            <a href="{{ w.embed }}"><img src="/media/thumbs/{{ w.thumb }}"></a>
                            {% endfor %}
                        </div>
                    {% if additional.images %}
                    <a href="photos/">See all photos &raquo;</a>
                    {% endif %}
                    </div>
                    {% endif %}
            </span>
        </div>
    </div>
    {% endif %}
</div>

    {% for s in summary %}
        <p>{{ s|safe }}</p>
    {% endfor %}

    {% if history|length > 0 %}
    <h3>History</h3><hr>
    {% for h in history %}
        <p>{{ h|safe }}</p>
    {% endfor %}
    {% endif %}

    {% if contact|length > 0 %}
    <h3>Contact</h3><hr>
    <ul style="list-style-type:square;">
        {% for v in contact %}
        {% if v.href %}
        <li><a href="{{ v.href }}">{{ v.text }}</a></li>
        {% else %}
        <li>{{ v.text }}</li>
        {% endif %}
        {% endfor %}
    </ul>
    {% endif %}

    {% if citations|length > 0 %}
    <h3>References</h3><hr>
    <ol style="word-wrap:break-word;">
        {% for w in citations %}
            <li><a href="{{ w.href }}">{{ w.href }}</a> {{ w.text }}</li>
        {% endfor %}
    </ol>
    {% endif %}

    {% if external|length > 0 %}
    <h3>External Links</h3><hr>
    <ul style="list-style-type:square;word-wrap:break-word;">
        {% for w in external %}
            <li><a href="{{ w.href }}">{{ w.text }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
</div>
<!--/span9-->
{% endblock %}

