{% extends "base_sidebar.html" %}
{% block sidebar %}

{% if p.kind %}
<li class="nav-header">Kind</li>
<li>{{ p.kind }}</li>
{% endif %}

{% if p.location %}
<li class="nav-header">Location</li>
<li>{{ p.location}}</li> <!--Don't use 'safe' for people or organizations. Only locations for Crises are stored as list items.-->
{% endif %}

<li class="nav-header">Related Crises</li>
{% for c in related_crises %}
<li><a href="{% url crisix.views.crises c.id %}">{{ c.name }}</a></li>
{% endfor %}

<li class="nav-header">Related Organizations</li>
{% for o in related_orgs %}
<li><a href="{% url crisix.views.organizations o.id %}">{{ o.name }}</a></li>
{% endfor %}
{% endblock %}
{% block title %}
    {{ name }} | Crisix
{% endblock %}
{% block body %}
<div style="padding-bottom:20px;">
    <style type="text/css">
        img
        {
            max-height:125px;
        }
    </style>
    <div class="row-fluid">
        <h1 class="main-focus;">{{ name }}</h1><hr>
        <div class="textblock">
            <div class="bubble">
                <div class="row-fluid">
                    <div style="width:220px;float:left;">
                        <div class="video-content">
                            {% for w in videos %}
                                <iframe class="youtube-player" type="text/html"
                                    height="125" width="221" src="{{ w.embed }}"
                                    frameborder="0" allowFullScreen>
                                </iframe>
                            {% endfor %}                
                        </div><!--end video-content-->
                    </div> <!--end span4-->
                    <div style="width:390px;float:right;">
                        <div class="photo-content">
                            {% for w in images %}
                            <a href="{{ w.embed }}"><img src="/media/thumbs/{{ w.thumb }}"></a>
                            {% endfor %}
                        </div>
                    </div>
                 <div style="width:390px;float:right;">
                        <div style="padding-top:0px;padding-left:5px;">
                            <a href="http://google.com">See all photos &raquo;</a>
                        </div>
                    </div>
                <div style="width:35%;float:left;">
                    <div style="padding-top:0px;">
                        <a href="http://google.com">See all videos &raquo;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% for s in summary %}
    <p>{{ s|safe }}</p>
{% endfor %}
    <h3>References</h3><hr>
    <ol style="word-wrap:break-word;">
    {% for w in citations %}
        <li><a href="{{ w.href }}">{{ w.href }}</a> {{ w.text }}</li>
    {% endfor %}
    </ol>
    <h3>External Links</h3><hr>
    <ul style="list-style-type:square;word-wrap:break-word;">
    {% for w in external %}
        <li><a href="{{ w.href }}">{{ w.text }}</a></li>
    {% endfor %}
    </ul>
    <!-- end/row-->
</div>
</div><!--/span9-->
{% endblock %}
{% block feed %}
{% for f in feeds %}
<a class="twitter-timeline" href="https://twitter.com/{{ f.id }}" data-widget-id="359055502723915776" data-screen-name="{{ f.id }}" data-show-replies="false">Tweets by @{{ f.id }}</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
{% endfor %}
{% endblock %}
