{% extends "list_bubble.html" %}
<style>
</style>
{% block body %}
    <div id="results" style="margin-left:0px; list-style:none;">
    {% if query_string|length > 0 %}
            <h3 style="padding-bottom:20px;color:#eee;">Showing search results for "{{ query_string }}":</h3>
            {% for e in entries %}
            <div style="padding-bottom:20px;">
                <a href="/{{ e.type }}/{{ e.id }}/"><img src="/media/thumbs/{{ e.thumb }}"></a>
            <div class="bubble" style="margin-left:125px;">
            {% if e.type == "crises" %}
                <li><a href="{% url crisix.views.crises e.id %}">{{ e.name }}</a></li>
            {% else %}{% if e.type == "organizations" %}
                <li><a href="{% url crisix.views.organizations e.id %}">{{ e.name }}</a></li>
            {% else %}{% if e.type == "people" %}
                <li><a href="{% url crisix.views.people e.id %}">{{ e.name }}</a></li>
            {% endif %}{% endif %}{% endif %}
            <li>{{ e.kind }} | {{ e.location }}</li>
            <p><li>{{ e.summary }}</li></p>
            </div></div>
            {% endfor %}
            <script>
                function updateHaystack(input, needle) {
                    return input.replace(new RegExp('([^/]\\b)(' + needle + '\\w*)(\\b)','igm'), '$1<b>$2</b>$3');
                }
                var markup = document.getElementById('results').innerHTML;
                var output = updateHaystack(markup, '{{ query_string }}');
                document.getElementById('results').innerHTML = output;
            </script>
    {% else %}
    <h3 style="padding-bottom:20px;color:#eee;"><b>You asked for nothing. And you shall receive it... <i>in abundance!</i></b></h3>
    {% endif %}
    </div>
{% endblock %}
