{% extends "search_bubble.html" %}
<style>
</style>
{% block body %}
    <div  id="results" style="margin-left:0px; list-style: none;">
            Showing search results for "{{ query_string }}":<br><br>
            {% for e in entries %}
            <div style="padding-bottom:20px;">
                <a href=""><img src="/media/thumbs/{{ e.thumb }}"></a>
            <div class="bubble" style="margin-left:125px;">
            {% if e.type == "cri" %}
                <li><a href="{% url crisix.views.crises e.id %}">{{ e.name }}</a></li>
            {% else %}{% if e.type == "org" %}
                <li><a href="{% url crisix.views.organizations e.id %}">{{ e.name }}</a></li>
            {% else %}{% if e.type == "per" %}
                <li><a href="{% url crisix.views.people e.id %}">{{ e.name }}</a></li>
            {% endif %}{% endif %}{% endif %}
            <li>{{ e.kind }} | {{ e.location }}</li>
            <p><li>{{ e.summary }}</li></p>
            </div></div>
            {% endfor %}
    </div>
    <script>
        function updateHaystack(input, needle) {
            return input.replace(new RegExp('([^/]\\b)(' + needle + '\\w*)(\\b)','igm'), '$1<b>$2</b>$3');
        }
        var markup = document.getElementById('results').innerHTML;
        var output = updateHaystack(markup, '{{ query_string }}');
        document.getElementById('results').innerHTML = output;
    </script>
{% endblock %}
