{% extends "base.html" %}
{% block sidebar %}
<li class="nav-header">Unit Tests</li>
<li>Run...</li>
<li class="nav-header">Facilities</li>
<button type="submit" class="btn btn-primary" onclick="window.location.href='{% url database.views.upload %}'">import<i class=" icon-upload"></i></button>
<button type="submit" class="btn btn-primary" onClick="window.location.href='{% url database.views.download %}'">Export<i class=" icon-download"></i></button>  
{% endblock %}
{% block body %}
        <div class="span9">
          <div class="hero-unit">
            <h1>Utilities</h1>
            <br><br>
            <p>Welcome to the database management page.</p>
          </div>
        </div><!--/span-->
{% endblock %}
